body {
    background-image: url("../images/background.jpg");
    color: white;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    border: 5px solid white;
    background: black;
    display: inline-block;
}

#mainTitle {
    text-align: center;
    color: yellow;
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
}

.container {}

.charImg {
    display: block;
    margin: 0 auto;
    height: 117px;
}

.charClass {
    width: 235px;
    height: 150px;
    border: 4px solid white;
    display: inline-block;
}

.charClass h2 {
    margin-left: 10px;
    display: inline-block;
}

.charName {
    display: block;
}

.userChoice {
    background-color: blue;
}

.enemyStyle {
    background-color: red;
}

.defenderChoice {
    background-color: black;
}

#enemyArea {
    min-height: 160px;
}

#userArea {
    min-height: 160px;
}

.winMsg {
    border-color: yellow;
    padding: 10px;
    font-size: 30px;
}

#gameLog {
    font-size: 26px;
    background: black;
    width: 500px;
    border: 3px solid white;
    min-height: 50px;
}
