body{

}

.container{

}
.charImg{
	display: block;
	margin: 0 auto;

}
.charName{

}
.charClass{
	width: 300px;
	height: 200px;
	border: 4px solid black;
	display: inline-block;
}
.defenderChoice{
	background-color: red;
}